body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply outline-none cursor-pointer py-1.5 px-4 transition-all duration-1000 h-[38px] text-base;
}

.confirm-btn {
  @apply rounded-2xl bg-[#43c59e] hover:bg-[#92ddc7];
}

.plans-btn {
  @apply rounded-2xl bg-[#F96262] hover:bg-[#FCB0B0];
}

.search-btn {
  @apply rounded-tr-2xl rounded-br-2xl bg-[#aed9e0] hover:bg-[#d3eaee];
}

.searchbar {
  @apply py-1.5 px-4 rounded-tl-2xl rounded-bl-2xl border border-black;
}

.tag {
  @apply rounded-2xl py-0.5 px-2 bg-[#aed9e0] text-sm;
}

.section-container {
  @apply grid grid-cols-2 gap-20 h-[420px];
}

.overlay {
  @apply fixed top-0 left-0 w-full h-full bg-[#000000] grid place-items-center transition-all opacity-50 invisible -z-10;
}

.show-overlay {
  @apply visible z-10;
}

.modal {
  @apply bg-white rounded w-[90vh] h-[30vh] max-w-screen-sm text-center grid place-items-center relative;
}
